/* Home.css */

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-main {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .home-main {
    padding: 10px;
  }
}